<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td></td>        13:00
        <td></td>        Programming with Python
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        14:30
        <td></td>        Break
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        15:00
        <td></td>        Programming with Python (Continued)
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        16:00
        <td></td>        Fin
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td></td>        13:00
        <td></td>        Programming with Python (Continued)
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        14:30
        <td></td>        Break
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        15:00
        <td></td>        Programming with Python (Continued)
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        16:00
        <td></td>        Fin
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>       13:00
        <td></td>        Automating Tasks with the Unix Shell
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        14:30
        <td></td>        Break
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        15:00
        <td></td>        Automating Tasks with the Unix Shell (Continued)
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        16:00
        <td></td>        Fin
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        13:00
        <td></td>        Version Control with Git
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        14:30
        <td></td>        Break
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        15:00
        <td></td>        Version Control with Git (Continued)
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        16:00
        <td></td>        Fin
      </tr>
    </table>
  </div>
</div>
